/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        cmb-esc {
            bindings = <&kp ESC>;
            key-positions = <0 1>;
            layers = <0>;
        };

        cmb-backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <10 11>;
            layers = <0>;
        };

        cmb-enter {
            bindings = <&kp ENTER>;
            key-positions = <34 35>;
            layers = <0>;
        };

        cmb-caps {
            bindings = <&kt CAPS>;
            key-positions = <24 25>;
            layers = <0>;
        };

        cmb-lang_change {
            bindings = <&kp LG(SPACE)>;
            key-positions = <36 24>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&kp GRAVE      &kp N1  &kp N2  &kp N3     &kp N4              &kp N5                                      &kp N6         &kp N7         &kp N8          &kp N9   &kp N0    &kp MINUS
&kp TAB        &kp Q   &kp W   &kp E      &kp R               &kp T                                       &kp Y          &kp U          &kp I           &kp O    &kp P     &kp EQUAL
&kp BACKSPACE  &kp A   &kp S   &kp D      &kp F               &kp G                                       &kp H          &kp J          &kp K           &kp L    &kp SEMI  &kp SQT
&kp LSHIFT     &kp Z   &kp X   &kp C      &kp V               &kp B           &lt 3 ESC      &kp ESCAPE   &kp N          &kp M          &kp COMMA       &kp DOT  &kp FSLH  &kp RSHIFT
                               &kp LCTRL  &mt LALT BACKSPACE  &mt LGUI ENTER  &lt 1 SPACE    &lt 2 SPACE  &mt RGUI LBKT  &mt RALT RBKT  &mt RCTRL BSLH
            >;
        };

        layer_navigation {
            bindings = <
&trans  &trans  &none           &none           &none            &none                        &kp RSHIFT       &kp RGUI        &kp RALT        &kp RCTRL        &trans  &trans
&trans  &none   &mkp LCLK       &mmv MOVE_UP    &mkp RCLK        &none                        &kp END          &kp PAGE_DOWN   &kp PAGE_UP     &kp HOME         &none   &none
&trans  &trans  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &none                        &kp LEFT_ARROW   &kp DOWN_ARROW  &kp UP_ARROW    &kp RIGHT_ARROW  &trans  &trans
&trans  &none   &none           &mkp LCLK       &mkp RCLK        &none   &trans    &mkp RCLK  &mmv MOVE_RIGHT  &msc SCRL_UP    &msc SCRL_DOWN  &msc SCRL_LEFT   &none   &trans
                                &trans          &trans           &trans  &trans    &mkp LCLK  &mkp LCLK        &mkp MCLK       &mkp RCLK
            >;
        };

        layer_numeric {
            bindings = <
&trans  &kp SLASH  &kp ASTERISK    &kp MINUS       &kp PLUS         &none                     &none   &kp N7  &kp N8     &kp N9      &kp PLUS      &none
&trans  &none      &none           &kp UP_ARROW    &none            &none                     &none   &kp N4  &kp N5     &kp N6      &kp MINUS     &none
&trans  &kp A      &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &none                     &none   &kp N1  &kp N2     &kp N3      &kp ASTERISK  &kp ENTER
&trans  &kp Z      &kp X           &kp C           &kp V            &kp B   &trans    &trans  &none   &kp N0  &kp COMMA  &kp PERIOD  &kp SLASH     &trans
                                   &trans          &trans           &trans  &trans    &trans  &trans  &trans  &trans
            >;
        };

        layer_function {
            bindings = <
&kp F1  &kp F2                                  &kp F3      &kp F4      &kp F5           &kp F6                                  &kp F13  &kp F14  &kp F15  &kp F16  &kp F17  &kp F18
&kp F7  &kp F8                                  &kp F9      &kp F10     &kp F11          &kp F12                                 &kp F19  &kp F20  &kp F21  &kp F22  &kp F23  &kp F24
&trans  &kp C_AC_DESKTOP_SHOW_ALL_WINDOWS       &kp C_NEXT  &kp C_PLAY  &kp C_VOLUME_UP  &kp C_BRIGHTNESS_INC                    &trans   &trans   &trans   &trans   &trans   &trans
&trans  &kp C_AC_DESKTOP_SHOW_ALL_APPLICATIONS  &kp C_PREV  &kp K_MUTE  &kp C_VOL_DN     &kp C_BRIGHTNESS_DEC  &trans    &trans  &trans   &trans   &trans   &trans   &trans   &trans
                                                            &trans      &trans           &trans                &trans    &trans  &trans   &trans   &trans
            >;
        };
    };
};
